main {
	&.case-study {
		> article {
			position: relative;

			&:first-of-type {
				padding: 0;
			}

			.banner {
				width: 100%;
				height: 100%;
				max-height: 60vh;
				background-repeat: no-repeat !important;
				background-size: cover !important;
				position: absolute;
			}

			// <introduction>
			.intro-container {
				position: relative;

				.content-wrapper {
					width: 100%;
					margin: 0 auto;
				}

				.entry-title {
					color: white;
				}
			}

			h2 {
				padding: 0 0 3.5%;
				margin: 0;
			}

			.wp-block-group.intro {
				padding-bottom: 0rem;

				.wp-block-group {
					padding-top: 7rem;
				}
			}

			[id*='project-intro-block'] {
				padding: 2% 0 0 9%;

				.highlights-container {
					display: flex;
					flex-direction: column;

					@include tablet {
						flex-direction: row;
						min-height: 13vh;
					}

					> div {
						@include tablet {
							width: calc(100% * 1 / 2 - 1rem);
						}
					}

					.description {
						order: 1;

						@include tablet {
							order: 0;
						}
					}

					.highlights {
						display: flex;
						order: 0;

						@include tablet {
							order: 1;
							flex-direction: column;
							align-items: center;
							justify-content: flex-start;
						}

						@include lg-desktop {
							justify-content: space-between;
						}

						> div {
							width: calc(100% * 1 / 2 - 1rem);
							padding-bottom: 2.5rem;

							@include md-desktop {
								&:last-of-type {
									padding-bottom: 0;
								}
							}

							@include tablet {
								min-width: 35%;
								width: auto;
							}

							> span {
								&:first-of-type {
									@extend .subheader;
									font-size: 1.8rem;
								}
							}
						}

						.client {
							span {
								display: block;
							}
						}

						ul {
							margin: 0;
							list-style-type: none;

							li {
								margin: 0;
								line-height: 1.5;
							}
						}
					}
				}
			}
			// </ introduction>

			// <deliverables>
			.wp-block-group {
				.wp-block-group.alignwide.center-columns {
					[class*='__inner-container'] {
						> div:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide),
						.wp-block-columns {
							max-width: 100rem !important;
							margin: 0 auto;
						}

						h2.has-text-align-center.subheader {
							padding: 0px 0 4rem;
							margin: 0;
						}
					}

					h5 {
						display: flex;
						flex-direction: column;
						margin-bottom: 0;

						@include md-desktop {
							margin-bottom: 1.2rem;
						}

						&:after {
							content: ' ';
							width: 15%;
							height: 3px;
							background: $primary-color;
							margin: 1rem auto 0;
						}
					}

					ul {
						font-size: 2.2rem;
						padding: 0.5rem 0 0;
					}

					.wp-block-columns {
						text-align: center;
						justify-content: center;
						padding-top: 2rem;

						.wp-block-column {
							margin-bottom: 5rem;
							flex-grow: 0;
							padding: 0 1rem;

							&:not(:first-child) {
								margin-left: 0;
							}

							&:last-of-type {
								margin-bottom: 0;
							}

							@include tablet {
								margin-bottom: 0rem;
							}
						}
					}
				}
			}
			// </deliverables>

			.wp-block-group {
				[class*='__inner-container'] {
					> *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
						max-width: 100%;
					}
				}

				figure {
					&.wp-block-image:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter) {
						margin-top: 10rem;

						&.before {
							display: flex;
							flex-direction: column;

							@include tablet {
								flex-direction: row;
							}

							&:before {
								content: 'before';
								@extend .header;
								font-weight: 700;
								font-size: 1.3rem;
								padding-top: 0.5rem;
								padding-left: 1.5rem;
							}
						}
					}
				}
			}
		}
	}
}
