body {
	background: white;

	&:not(.singular) {
		main {
			&#site-content {
				overflow: initial;
			}

			> article {
				&:first-of-type {
					padding: 0;
				}
			}
		}
	}
}

/* Block: Shared Nesting Alignment Resets ---- */
[class*='__inner-container'] {
	.alignwide {
		max-width: 100%;
	}
}

.wp-block-group {
	margin-top: 0;
	margin-bottom: 0;

	&:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide),
	> :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
		margin-top: 0;
		margin-bottom: 0;
	}

	[class*='__inner-container'] {
		padding: 0;

		.wp-block-group:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright),
		> *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide),
		> div:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide),
		&:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
			padding: 0;
			margin: 0;
			max-width: 100%;

			p {
				padding-bottom: 1.3rem;
				margin: 0;

				&:last-of-type {
					padding-bottom: 0;
				}
			}
		}
	}

	.wp-block-columns {
		.wp-block-column {
			.wp-block-group {
				margin-left: 0;
				margin-right: 0;
				max-width: 100%;

				[class*='__inner-container'] {
					padding: 0;
				}
			}
		}
	}
}

section,
.lt-container,
.header-inner,
.alignwide {
	@include lt-container;
	max-width: 200rem;
}

section {
	padding-top: 150px;
	padding-bottom: 105px;
}

.post-content {
	> .alignfull.has-background {
		padding-top: 18.5rem;
		padding-bottom: 10.5rem;
		margin-top: -11rem;
		z-index: -9;
	}

	> .wp-block-group {
		padding-top: 10.5rem;
		padding-bottom: 10.5rem;

		[class*='__inner-container'] {
			> *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
				max-width: 100%;

				h2 {
					padding-bottom: 4rem;
				}
			}
		}

		&:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
			@include lt-container;
			max-width: 200rem;
		}
	}
}

.sticky {
	position: sticky;
	top: 105px;
}
