body {
	background: white;

	&:not(.singular) {
		main {
			> article {
				&:first-of-type {
					padding: 0;
				}
			}
		}
	}
}

/* Block: Shared Nesting Alignment Resets ---- */
.wp-block-group {
	.wp-block-group,
	.wp-block-cover {
		&:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright) {
			margin-left: inherit;
			margin-left: inherit;
			max-width: inherit;
		}
	}

	> *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
		margin-left: inherit;
		margin-left: inherit;
		max-width: inherit;
	}
}

section,
.lt-container,
.header-inner,
.alignwide {
	@include lt-container;
	max-width: 200rem;
}

section {
	padding-top: 150px;
	padding-bottom: 105px;
}

.post-content {
	> .alignfull.has-background {
		padding: 18rem 4rem 10.5rem;
		margin-top: -11rem;
		z-index: -9;
	}
}
