@mixin xxl-desktop {
	@media (min-width: $xxl-desktop) {
		@content;
	}
}

@mixin xlg-desktop {
	@media (min-width: $xlg-desktop) {
		@content;
	}
}

@mixin lg-desktop {
	@media (min-width: $lg-desktop) {
		@content;
	}
}

@mixin md-desktop {
	@media (min-width: $md-desktop) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: $desktop) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: $tablet) {
		@content;
	}
}

@mixin phone {
	@media (min-width: $phone) {
		@content;
	}
}

@mixin lt-container {
	min-width: 100%;
	margin: 0 auto !important;
	padding-left: 2rem;
	padding-right: 2rem;

	@include phone {
		min-width: $phone;
	}

	@include tablet {
		min-width: $tablet;
		padding-left: 4rem;
		padding-right: 4rem;
	}

	@include desktop {
		min-width: $desktop;
		padding-left: 6rem;
		padding-right: 6rem;
	}

	@include md-desktop {
		min-width: $md-desktop;
	}

	@include lg-desktop {
		min-width: $lg-desktop;
		padding-left: 8rem;
		padding-right: 8rem;
	}

	@include xlg-desktop {
		min-width: $xlg-desktop;
	}

	@include xxl-desktop {
		min-width: $xxl-desktop;
	}
}
